<h1>Describing and Working with Tables</h1>

<h3>Introduction</h3>

<strong>Tables are fundamental structures in relational databases, used to store data in a structured format. 
<br>Each table consists of rows (records) and columns (fields), with each column holding a specific type of data. 
<br>Managing tables effectively is essential for database design and optimization.</strong>

<h3>Understanding Tables</h3>

<strong>A table is composed of:</strong>

    Columns: Define the structure of the table, specifying the data type and constraints for each field.
    Rows: Represent individual records containing data for each column in the table.

<strong>Describing a Table: </strong>

    DESCRIBE employees;
    
This will output the column names, data types, and nullability.

<h3>Viewing Table Metadata</h3>

<strong>You can query the USER_TABLES or ALL_TABLES views to see metadata about tables in the database.</strong>
    
<strong>To list all tables owned by the current user:</strong>

    SELECT table_name
      FROM user_tables;
    
<strong>To list tables accessible to the user:</strong>

    SELECT table_name
      FROM all_tables;

<h3>Managing Tables</h3>
    
<strong>The ALTER TABLE statement allows you to rename a table.</strong>

    ALTER TABLE old_table_name RENAME TO new_table_name;
    
<strong>The DROP TABLE statement removes a table and all its data from the database.</strong>

    DROP TABLE table_name;

<strong>Checking Table Dependencies</strong>
<br>When dropping a table or modifying its structure, itâ€™s essential to understand its dependencies, such as views or foreign keys linked to other tables.

    SELECT object_name, object_type
      FROM user_dependencies
     WHERE referenced_name = 'EMPLOYEES';

<strong>Best Practices:</strong>

    Name tables descriptively: Ensure the table name reflects its content and purpose for clarity.
    
    Ensure normalization: Apply database normalization rules to reduce redundancy and improve data integrity.
    
    Set appropriate constraints: Use constraints like primary keys, foreign keys, and unique indexes to ensure data integrity and consistency.
    
    Monitor performance: Regularly analyze the structure and performance of tables to ensure they meet query and storage requirements.