<h1>Using Group Functions</h1>

<h3>Introduction</h3>

<strong>Group functions in SQL are essential tools for aggregating data across multiple rows, providing summarized results for better analysis and reporting. 
<br>These functions allow users to compute values for grouped records, making them invaluable for generating insights from large datasets.</strong>

<h3>Common Group Functions</h3>

<strong>Several standard group functions are widely used in SQL, including:</strong>

    SUM: Calculates the total sum of a numeric column.
    AVG: Computes the average value of a numeric column.
    COUNT: Counts the number of rows or non-NULL values in a column.
    MAX: Finds the highest value in a specified column.
    MIN: Finds the lowest value in a specified column.

<h3>Basic Syntax</h3>

<strong>To use group functions effectively, you typically structure your query as follows:</strong>

    SELECT column1, GROUP_FUNCTION(column2)
      FROM table_name
     GROUP BY column1;

<strong>Example:</strong> Summing Sales Amounts
<br>Suppose you have a table called sales and want to calculate the total sales amount by product category. Your query might look like this:
    
    SELECT category, SUM(sales_amount) AS "Total Sales"
      FROM sales
     GROUP BY category;
    
<strong>Example:</strong> Counting Products per Category
<br>To count how many products belong to each category:

    SELECT category, COUNT(product_id) AS "Number of Products"
      FROM products
     GROUP BY category;

<strong>Example:</strong> Applying AVG to Analyze Data
<br>The AVG function allows for quick insights into the average values within each group.

    SELECT department_id, AVG(salary) AS "Average Salary"
      FROM employees
     GROUP BY department_id;

<strong>Practical Use Cases:</strong>

    Sales Reporting: Summarizing sales data to understand revenue trends.
    Employee Statistics: Calculating average salaries, total counts of employees by department, etc.
    Inventory Analysis: Using MAX and MIN to track stock levels across product categories.

<strong>Best Practices:</strong>

    Always Group by Non-Aggregated Columns: Ensure that any column in the SELECT statement not 
    aggregated is included in the GROUP BY clause.
    Descriptive Aliases for Readability: Use clear and descriptive aliases for aggregated results to 
    enhance understanding.
    Limit the Data Set Early: Apply WHERE clauses before grouping to reduce the dataset size, improving performance.