<h1>Manipulating Strings with Character Functions in SQL SELECT and WHERE Clauses</h1>

<h3>Introduction</h3>

<strong>String, or character, functions in SQL allow you to manipulate and modify text data. 
<br>These functions are essential for data formatting, extraction, and transformation within queries. 
<br>They can be used in both the SELECT and WHERE clauses to format output or filter results based on specific text patterns or criteria.</strong>

<h3>Common Character Functions</h3>

<strong>UPPER</strong> – Converts all characters in a string to uppercase.
<br><strong>LOWER</strong> – Converts all characters in a string to lowercase.
<br><strong>INITCAP</strong> – Converts the first character of each word to uppercase and all other characters to lowercase.
<br><strong>CONCAT</strong> – Combines two strings into one.
<br><strong>SUBSTR</strong> – Extracts a specific portion of a string.
<br><strong>LENGTH</strong> – Returns the length of a string.
<br><strong>INSTR</strong> – Finds the position of a substring within a string.
<br><strong>TRIM</strong> – Removes specified characters from the beginning or end of a string.
<br><strong>LPAD / RPAD</strong> – Pads a string with characters on the left or right to reach a specified length.
<br><strong>REPLACE</strong> – Replaces occurrences of a specified substring within a string.

<h3>Examples of Common Character Functions</h3>

<strong>UPPER, LOWER, and INITCAP:</strong> These functions adjust text case, often used for consistent formatting.

<strong>Example:</strong> Retrieve all employee names in uppercase:

    SELECT UPPER(first_name) AS "Uppercase Name" FROM employees;

<strong>Example:</strong> Convert a department name to lowercase:

    SELECT LOWER(department_name) AS "Lowercase Dept" FROM departments;

<strong>Example:</strong> Display the first letter of each word capitalized:

    SELECT INITCAP(last_name) AS "Proper Name" FROM employees;

<br><strong>CONCAT:</strong> Combines two columns or strings into one output field.

<strong>Example:</strong> Concatenate first and last names to display full names:

    SELECT CONCAT(first_name, ' ') || last_name AS "Full Name" FROM employees;

<br><strong>SUBSTR:</strong> Extracts a portion of a string, based on position and length.

<strong>Example:</strong> Display the first three letters of employee last names:

    SELECT SUBSTR(last_name, 1, 3) AS "Short Name" FROM employees;

<br><strong>LENGTH:</strong> Returns the length of a string, useful for data validation or analysis.

<strong>Example:</strong> Find the length of each last name:

    SELECT last_name, LENGTH(last_name) AS "Name Length" FROM employees;

<br><strong>INSTR:</strong> Finds the position of a substring within a string. If not found, it returns 0.

<strong>Example:</strong> Find the position of the letter 'a' in each last name:

    SELECT last_name, INSTR(last_name, 'a') AS "Position of 'a'" FROM employees;

<br><strong>TRIM:</strong> Removes specific characters from the beginning or end of a string. If no characters are specified, it defaults to removing spaces.

<strong>Example:</strong> Trim spaces from both sides of a job title:

    SELECT TRIM(job_title) AS "Trimmed Title" FROM jobs;

<br><strong>LPAD / RPAD:</strong> Pads a string with characters on the left (LPAD) or right (RPAD) to reach a specified length.

<strong>Example:</strong> Add leading zeroes to a four-character employee ID to reach eight characters:

    SELECT LPAD(employee_id, 8, '0') AS "Padded ID" FROM employees;

<br><strong>REPLACE:</strong> Substitutes occurrences of a specified substring with another string.

<strong>Example:</strong> Replace occurrences of 'Manager' with 'Supervisor':

    SELECT REPLACE(job_title, 'Manager', 'Supervisor') AS "New Title" FROM jobs;

<h3>Using Character Functions in WHERE Clauses</h3>

<strong>String functions can also be used within WHERE clauses for filtering results based on modified string values.</strong>

<strong>Example:</strong> Retrieve all employees with 'S' as the first letter of their last name

    SELECT first_name, last_name FROM employees WHERE SUBSTR(last_name, 1, 1) = 'S';

<strong>Practical Use Cases:</strong>

    Data Formatting: Use UPPER, LOWER, or INITCAP to ensure data is consistently formatted.
    Data Cleaning: Use TRIM to remove unwanted spaces from text fields.
    Search Optimization: Use INSTR to locate specific keywords or phrases.
    Transformation: Use CONCAT and SUBSTR to reshape data for better readability or reporting.

<strong>Best Practices:</strong>

    Use descriptive variable names to make it clear what input is expected.
    Test your scripts to ensure variables work as intended, and provide meaningful prompts 
    for user input.
    Double-check data types; ensure that the user inputs are compatible with the expected data type 
    in the query.