<h1>Performing Arithmetic with Date Data</h1>

<h3>Introduction</h3>

<strong>SQL allows users to perform arithmetic operations with date data to manipulate and analyze time-based information. 
<br>Common operations include adding or subtracting days, calculating differences between dates, and determining future or past dates based on current data. 
<br>Date arithmetic is essential for reporting, scheduling, and temporal data analysis.</strong>

<h3>Adding and Subtracting Days from Dates</h3>

<strong>You can add or subtract a specific number of days directly from a date. This operation is straightforward and often used to calculate future or past dates.</strong>

<strong>Example:</strong> To find the date 7 days after an employee's hire date.
    
    SELECT hire_date + 7 AS "One Week Later" FROM employees;

<h3>Using Date Functions for Advanced Date Arithmetic</h3>

<strong>Date functions such as ADD_MONTHS, MONTHS_BETWEEN, NEXT_DAY, and LAST_DAY provide additional control over date arithmetic, allowing for month-based calculations, finding specific days, and identifying month-end dates.</strong>

<strong>ADD_MONTHS:</strong> Adds a specified number of months to a date.
<br><strong>Example:</strong> Find the date three months after an employee’s hire date.
    
    SELECT ADD_MONTHS(hire_date, 3) AS "Three Months Later" FROM employees;

<strong>MONTHS_BETWEEN:</strong> Calculates the number of months between two dates.
<br><strong>Example:</strong> Calculate the difference in months between an employee's hire date and today.
    
    SELECT MONTHS_BETWEEN(SYSDATE, hire_date) AS "Months with Company" FROM employees;

<strong>NEXT_DAY:</strong> Finds the date of the next specified weekday after a given date.
<br><strong>Example:</strong> Find the next Monday after an employee’s hire date.
    
    SELECT NEXT_DAY(hire_date, 'MONDAY') AS "Next Monday" FROM employees;

<strong>LAST_DAY:</strong> Returns the last day of the month for a given date.
<br><strong>Example:</strong> Find the last day of the month an employee was hired.
    
    SELECT LAST_DAY(hire_date) AS "End of Hire Month" FROM employees;

<h3>TRUNC</h3>

<strong>The TRUNC function truncates a number to a specified number of decimal places, effectively cutting off any remaining digits without rounding.</strong>

<strong>Syntax:</strong>

    TRUNC(number, decimal_places)

<strong>Explanation:</strong>

    number: The numeric value to be truncated.
    decimal_places: (Optional) The number of decimal places to keep. 
    If omitted, it defaults to 0, meaning it will truncate to a whole number.

<strong>Examples:</strong>
<br>Truncate a salary to the nearest whole number:
    
    SELECT TRUNC(salary) AS "Truncated Salary" FROM employees;

Truncate a salary to one decimal place:

    SELECT TRUNC(salary, 1) AS "Truncated Salary" FROM employees;

Truncate a revenue amount to the nearest thousand:
    
    SELECT TRUNC(revenue, -3) AS "Truncated to Thousands" FROM financials;

<h3>MOD</h3>

<strong>The MOD function calculates the remainder of a division between two numbers. This is useful for tasks like determining whether a number is even or odd.</strong>

<strong>Syntax:</strong>

    MOD(number1, number2)

<strong>Explanation:</strong>

    number1: The dividend.
    number2: The divisor.

<strong>Examples:</strong>
<br>Find the remainder when a salary is divided by 1000:
    
    SELECT MOD(salary, 1000) AS "Remainder" FROM employees;

Determine if employee IDs are even or odd:

    SELECT employee_id, MOD(employee_id, 2) AS "Even_Odd" FROM employees;

Check if a product quantity is a multiple of 5:

    SELECT product_id, MOD(quantity, 5) AS "Multiple of 5" FROM inventory;

<strong>Practical Use Cases:</strong>

    ROUND: Use this to format financial data or other numeric values where exact precision is necessary. 
    For example, to round currency amounts to two decimal places.
    TRUNC: Ideal for when exact values are needed without rounding, such as displaying scores 
    or measurements in a standardized format.
    MOD: Commonly used for operations that require divisibility checks, such as batch processing 
    or categorizing even/odd values.

<strong>Best Practices:</strong>

    Always be mindful of the context in which you are using each function:

    Use ROUND when precise rounding is required.
    Use TRUNC when the exact whole or decimal value is needed.
    Use MOD for remainder-based calculations or to apply logic based on divisibility.