<h1>Using Concatenation Operator, Literal Character Strings, Alternative Quote Operator, and the DISTINCT Keyword</h1>

<h3>Introduction</h3>

<strong>This topic focuses on several SQL features that improve data presentation:</strong>

<strong>Concatenation operator:</strong> Joins multiple strings or columns.
<br><strong>Literal character strings:</strong> Adds constant text to output.
<br><strong>Alternative quote operator:</strong> Provides flexibility with special characters.
<br><strong>DISTINCT keyword:</strong> Removes duplicate rows from results.

<h3>Concatenation Operator</h3>

<strong>The concatenation operator (||) is used to merge multiple strings or columns into a single field.</strong>
<br><br><strong>Example:</strong> you can combine first_name and last_name to create a Full Name field.
    
    SELECT first_name || ' ' || last_name AS "Full Name" 
      FROM employees;

<h3>Literal Character Strings</h3>

<strong>Literal character strings add context or labels to output.</strong>
<br><strong>These can be combined with columns using the concatenation operator.</strong>
<br><br><strong>Example:</strong> to prepend "Employee: " to each name

    SELECT 'Employee: ' || first_name || ' ' || last_name AS "Employee Info" 
      FROM employees;

<h3>Alternative Quote Operator</h3>

<strong>The alternative quote operator (q) allows flexibility with strings containing special characters, such as single quotes.</strong>
<br><br><strong>Example:</strong> to include single quotes in a string:

    SELECT q'{Employee's Department}' AS "Department Label" 
      FROM dual;

<h3>DISTINCT Keyword</h3>

<strong>The DISTINCT keyword eliminates duplicate rows from the result, based on specified columns.</strong>
<br><br><strong>Example:</strong> to retrieve unique department IDs from the employees table:

    SELECT DISTINCT department_id 
      FROM employees;

<strong>Practical Use:</strong>

    Use the concatenation operator to format names or descriptive fields.
    
    Add literal strings to provide context.
    
    Apply the DISTINCT keyword for unique results.

<strong>Best Practices:</strong>

    Use descriptive labels when combining columns or adding text, ensure clarity.
    
    Apply DISTINCT only as needed, overusing it may impact performance.