<h1>Using Column Aliases</h1>

<h3>Introduction</h3>

<strong>Column aliases</strong> are temporary names assigned to columns or expressions within the SELECT statement. <br>They help make output more readable, which is especially useful for complex expressions or columns with long names.

    Aliases only exist for the duration of the query and don’t alter the actual table structure.
    The keyword AS can be used to assign an alias, although it’s optional.
    
<strong>Example Syntax:</strong>

    SELECT column_name AS alias_name 
      FROM table_name;

<h3>Basic Example of Column Aliases</h3>

<strong>Imagine an employees table with columns first_name, last_name, and salary.
<br>To display more user-friendly column names, use aliases:
    
    first_name becomes First Name
    last_name becomes Last Name
    salary becomes Monthly Salary

<strong>This makes the output more understandable by making it more descriptive. 
<br>Using aliases for column names like this is very common in report generation.

<h3>Using Aliases for Expressions</h3>

<strong>Column aliases are useful for labeling calculated fields.</strong>
<br>For example, if you want to display an employee’s Annual Salary, calculated as salary * 12:
   
    salary * 12 becomes Annual Salary

<h3>Aliases for Concatenated Columns</h3>

<strong>Combining multiple columns into one output field can be done using concatenation.</strong>
<br>For example, to create a “Full Name” column by combining first_name and last_name:

    Use concat() or || to join the columns
    Assign the result an alias like "Full Name"

This is helpful for generating reports where you need combined information in a single column.

<h3>Formatting Aliases for Readability</h3>

<strong>Aliases with spaces or special characters should be enclosed in double quotes for clarity, e.g., "Employee Name".</strong>
<br><strong>Without quotes, special characters may cause errors.</strong>

<strong>Best Practices:</strong>

    Always make aliases descriptive so the purpose of the column is clear.
    Use double quotes if the alias contains spaces or special characters to avoid errors.

<h3>Summary</h3>

<strong>Clauses in SQL directly relate to ERD components:</strong>

    Tables and columns in SQL map to entities and attributes in ERDs.
    Joins in SQL represent relationships in ERDs.

<strong>Using SQL and ERDs Together:</strong>

    ERDs provide a roadmap, and SQL allows you to retrieve, filter, and analyze the data within this roadmap.