<h1>Using Arithmetic Expressions and NULL Values in the SELECT Statement</h1>

<h3>Introduction</h3>

<strong>Arithmetic expressions in SQL allow you to perform calculations on numeric data. 
<br>This is useful for generating new data derived from existing values. 
<br>Additionally, handling NULL values is crucial, as they represent missing or undefined data.</strong>

<h3>Arithmetic Expressions</h3>

<strong>Arithmetic expressions can include standard mathematical operations such as:</strong>
   
    addition (+)
    subtraction (-)
    multiplication (*)
    division (/)

<strong>You can combine columns, constants, and results of other expressions.</strong>

<h3>Example of Arithmetic Expressions</h3>

<strong>To calculate the total compensation for employees, you can add their salary and bonuses</strong>
<br><br><strong>Example:</strong>

    SELECT first_name
         , last_name
         , salary + bonus AS "Total Compensation" 
      FROM employees;

<h3>Order of Operations</h3>

<strong>SQL follows standard mathematical rules for order of operations (parentheses, multiplication and division, addition and subtraction). 
<br>You can use parentheses to control the order in which operations are performed.</strong>

<h3>Handling NULL Values</h3>

<strong>NULL values can complicate arithmetic operations because any arithmetic operation with NULL results in NULL. <br>It's important to manage NULL values to ensure accurate calculations.</strong>

<h3>Using NVL Function</h3>

<strong>The NVL function allows you to replace NULL values with a specified value. 
<br>This can prevent unexpected NULL results in your calculations.</strong>
<br><br><strong>Example:</strong>

    SELECT first_name
         , last_name
         , salary + NVL(bonus, 0) AS "Total Compensation" 
      FROM employees;

<h3>Using COALESCE Function</h3>

<strong>The COALESCE function can also be used to return the first non-null value in a list. 
<br>This is useful when dealing with multiple columns that may contain NULLs.</strong>
<br><br><strong>Example:</strong>

    SELECT first_name
         , last_name
         , salary + COALESCE(bonus, 0) AS "Total Compensation" 
      FROM employees;

<strong>Practical Use:</strong>

    Combining arithmetic expressions with proper NULL handling allows for meaningful data insights, especially in reports and analyses.

<strong>Best Practices:</strong>

    Always check for NULL values when performing arithmetic operations to avoid unexpected results.
    Use functions like NVL or COALESCE to handle NULLs gracefully.
    Keep expressions clear and straightforward to enhance readability and maintainability.