<h1>Updating and Deleting Rows Using Correlated Subqueries</h1>

<h3>Introduction</h3>

<strong>Correlated subqueries are subqueries that reference columns from the outer query. 
<br>Unlike standard subqueries, which run independently of the outer query, a correlated subquery executes once for each row in the outer query. 
<br>This functionality is particularly useful for update and delete operations, allowing modifications based on conditions that relate to other rows in the same or a different table.</strong>

<h3>What is a Correlated Subquery?</h3>

<strong>A correlated subquery uses values from the outer query to execute.
<br>The subquery is evaluated for each row processed by the outer query.
<br>Correlated subqueries can be used within UPDATE and DELETE statements to target specific rows for modification or removal.</strong>

<strong>Using Correlated Subqueries in UPDATE Statements:</strong> 

    UPDATE employees e
       SET salary = salary + 500
     WHERE salary < (SELECT avg_salary
                       FROM departments d
                      WHERE e.department_id = d.department_id);

The main query then updates the salary of each employee whose current salary is below this average.

<strong>Using Correlated Subqueries in UPDATE Statements:</strong> 

    UPDATE employees e
       SET salary = salary + 500
     WHERE salary < (SELECT avg_salary
                       FROM departments d
                      WHERE e.department_id = d.department_id);

The main query then updates the salary of each employee whose current salary is below this average.

<h3>When to Use OUTER Joins</h3>

<strong>LEFT JOIN:</strong> Use when you want to retain all rows from the primary (left) table, regardless of matching rows in the secondary table.

<strong>RIGHT JOIN:</strong> Use when all rows from the secondary (right) table are needed, along with any matches from the primary table.

<strong>FULL OUTER JOIN:</strong> Use when you want all records from both tables, whether or not they match, to ensure no data is omitted.

    SELECT e1.first_name AS "Employee", e2.first_name AS "Manager"
      FROM employees e1, employees e2
     WHERE e1.manager_id = e2.employee_id;

<strong>Best Practices:</strong>

    Select Only Necessary Columns: Specify only the columns you need, as OUTER JOINS can result in 
    large result sets.
    Use WHERE Clause for Additional Filtering: You can combine OUTER JOINS with the WHERE clause to further 
    filter your results as needed.
    Check for NULL Values: Since OUTER JOINS often produce NULL for unmatched records, plan for potential 
    NULL handling or replacement.