<h1>Using Multiple Row Subqueries</h1>

<h3>Introduction</h3>

<strong>Multiple row subqueries are subqueries that return more than one row as output. 
<br>These subqueries are often used with operators that can handle multiple results, such as IN, ANY, and ALL, to compare the output of the subquery with values in the outer query. 
<br>They are commonly used to match multiple values from one table with data from another table.</strong>

<h3>Key Operators for Multiple Row Subqueries</h3>

<strong>IN: </strong>Checks if a value matches any value in a list of results.

    SELECT employee_id, salary
      FROM employees
     WHERE salary IN (SELECT salary
                        FROM employees
                       WHERE department_id = 40);

<br><strong>ANY: </strong>Compares a value to each value in a list, and returns true if any comparison is true.

    SELECT employee_id, salary
      FROM employees
     WHERE salary < ANY (SELECT salary
                           FROM employees
                          WHERE department_id = 30);

<br><strong>ALL: </strong>Compares a value to each value in a list, and returns true only if all comparisons are true.

    SELECT employee_id, salary
      FROM employees
     WHERE salary > ALL (SELECT salary
                           FROM employees
                          WHERE department_id = 40);

<h3>Using CROSS JOIN for Cartesian Products</h3>

<strong>A CROSS JOIN is a type of join that explicitly returns the Cartesian Product of two tables.</strong>
<br><strong>Example:</strong>

    SELECT d.department_name, e.employee_name
      FROM departments d
     CROSS JOIN employees e;

<strong>Avoiding Unintended Cartesian Products:</strong>

    IN Operator: Use when you need to match a value with a list of values.
    ANY Operator: Use when you need at least one match from the list of values.
    ALL Operator: Use when all comparisons must be true.

<strong>Best Practices:</strong>

    Limit Subquery Results: Always ensure that subqueries return a manageable number of rows.
    Choose the Right Operator: Use IN when looking for matches within a list, ANY for partial matches, and ALL for conditions that must satisfy all values.
Optimize Performance: Minimize the data returned by the subquery by using WHERE clauses and indexes where applicable.