<h1>Applying the NVL, NULLIF, and COALESCE Functions to Data</h1>

<h3>NVL</h3>

<strong>The NVL function is used to replace NULL values with a specified value.</strong>
<br><strong>It takes two arguments:</strong> the first is the value to check for NULL, and the second is the value to return if the first argument is NULL.

<strong>Syntax:</strong>
    
    NVL(expression1, replacement_value)
    
<strong>Example:</strong>
    
    SELECT NVL(salary, 0) AS adjusted_salary
      FROM employees;

This query returns the salary of employees, replacing any NULL salaries with 0.

<h3>NULLIF</h3>

<strong>The NULLIF function returns NULL if the two expressions are equal; otherwise, it returns the first expression. 
<br>It is useful for avoiding divisions by zero or handling special cases where you want to treat certain values as NULL.</strong>

<strong>Syntax:</strong>
    
    NULLIF(expression1, expression2)
    
<strong>Example:</strong>
    
    SELECT employee_id, NULLIF(salary, 0) AS adjusted_salary
      FROM employees;

In this query, if the salary is 0, it returns NULL; otherwise, it returns the salary.

<h3>COALESCE</h3>

<strong>The COALESCE function evaluates a list of expressions and returns the first non-NULL expression. 
<br>It can take multiple arguments, making it more versatile than NVL.</strong>

<strong>Syntax:</strong>
    
    COALESCE(expression1, expression2, ..., expression_n)
    
<strong>Example:</strong>
    
    SELECT COALESCE(phone_number, mobile_number, 'No Phone') AS contact_number
      FROM employees;

This query returns the phone number if available; if not, it checks for the mobile number, and if both are NULL, it returns 'No Phone'.

<strong>Practical Use Cases:</strong>

    Default Values in Reports: Use NVL to provide default values in reports where some data may be missing, ensuring clarity in outputs.
    
    Avoiding Errors: NULLIF can prevent errors in calculations or aggregations by safely handling cases where the divisor might be zero.
    
    Flexible Data Retrieval: COALESCE allows for flexible data retrieval by prioritizing different data sources.

<strong>Best Practices:</strong>

    Use NVL for straightforward cases where a default value is needed.
    
    Employ NULLIF to safeguard against zero values in calculations.
    
    Utilize COALESCE when dealing with multiple potential NULL sources for more comprehensive data handling.